.App {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  padding: 2rem;
  background-color: antiquewhite;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(117, 73, 87);
  
}

form {
  display: flex;
  margin-bottom: 2rem;
}

input[type="text"] {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li:last-child {
  margin-bottom: 0;
}

li input[type="checkbox"] {
  margin-right: 1rem;
}

li input[type="text"] {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li button {
  font-size: 1.2rem;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  
}

li button:hover {
  background-color: #f8031c;
}


.edit-button{
  margin-left: 15rem;
  background-color: rgb(115, 170, 95);
}

.edit-button:hover{
  background-color: #7b6567;
  
}